/******************************** Global Configuration ********************************/

* {
    box-sizing: border-box;
    word-break: break-word;

    --white-base: #FFFFFF;
    --black-base: #000000;
    --blue-base: #14073A;
    --blue-button: #478EA5;
    --blue-light: #f1f4f6;
}

body {
    background-color: var(--blue-base);
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
}

button:hover {
    cursor: pointer;
}